/* Webfont: Gotham Medium */@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham/gotham-medium.otf') format('otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Gotham Bold */@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham/gotham-bold.otf') format('otf');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Gotham Book */@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham/gotham-book.otf') format('otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Gotham Light */@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/Gotham/GothamLightRegular.otf') format('otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
