/*****     MAIN     STYLE       *****/

body {
	font-family: "Gotham Medium";
	background-color: #f3f1f2;
}

/* .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}
 */
a:focus, a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT NAVIGATION   ****/

#navigation {
	background-color: #fff;
	font-family: "Gotham Light";
}

@media (min-width: 992px) {
	#navigation .navbar {
		margin-left: 7rem;
	}
	
	#navigationSearchForm {
		position: absolute;
		top: 0;
		right: 0px;
		width: 0%;
		min-width: 70px;
		height: 100%;
		overflow: hidden;
	}
	
	#navigationSearchForm .input-group input {
		display: none;
	}
	
	#navigationSearchForm .input-group span.input-group-addon {
		right: -20px;
		position: relative;
	}
}

@media (max-width: 991px) {
	#navigation #menu {
		width: 95%;
		background: #4b5b6a;
	}
}

@media (min-width: 1200px) {
	#navigation #menu {
		margin-left: 10rem;
	}
}

#menu li a {
    font-size: 14px;
	color: #96a6a7;
	font-weight: 600;
}
	
@media (max-width: 991px) {
	#menu li {
        padding: 0px 10px;
	}
	
	#menu li a {
        padding: 6px 6px;
	}
}
	
@media (min-width: 768px) and (max-width: 992px) {
	#login {
		max-height: 74px;
	}
}

#menu li a:hover, #menu li a.active {
    background: #fff;
    color: #e94e38;
}

#navigationSearchForm .input-group {
		height: 75px;
}

#navigationSearchForm .input-group span.input-group-addon {
	border: 1px solid #eceeef;
	border-radius: 0px;
}
	
#navigationSearchForm button {
	border: 0px;
    background-color: transparent;
	cursor: pointer;
}

#login {
	background-color: #e94e38;
}

#login p {
	margin: 1.5em 2em;
    color: #fff;
}

/****	FIN  NAVIGATION   ****/

/***** DEBUT SEARCH   ****/

#search {
	background: url(images/search_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	color: #fff;
	height: 100%;
}

#searchName h3 {
	font-size: 30px;
	line-height: 3;
	padding-top: 30px;
}

@media (min-width: 468px) and (max-width: 768px) {
	#searchName h3 {
		font-size: 26px;
		line-height: 2;
		padding-top: 15px;
	}
}

@media (max-width: 467px) {
	#searchName h3 {
		font-size: 20px;
		line-height: 1.2;
		padding-top: 5px;
	}
}

@media (min-width: 578px) {
	#searchForm #selector div[class^="col-md-6"]:first-child .form-group {
		width: 45%;
		float: right;
	}

	#searchForm #selector div[class^="col-md-6"]:nth-child(2) .form-group {
		width: 45%;
		float: left;
	}
}

#searchForm  .form-control {
	height: 60px;
	border-radius: 30px;
    border: 1px solid #5b5953;
    background: rgba(111, 111, 111, 0.17);
    color: #fff;
	font-family: 'Gotham Light', sans serif;
}

#researchKeywords .form-group {
	width: 46%;
    margin: 0 auto;
}

@media (max-width: 578px) {
	#researchKeywords .form-group {
		width: 100%;
		margin: 0;
	}
}

#searchButton button {
	height: 60px;
	border-radius: 30px;
	background-color: #e94e38;
	margin: 2.5rem auto;
    width: 13%;
    color: #fff;
    box-shadow: 0px 2px 0px #c1412e;
    font-family: 'Gotham Medium';
    font-size: 1.2rem;
}

@media (max-width: 992px) {
	#searchButton button {
		width: 130px;
	}
}


/****	FIN  SEARCH   ****/

/***** DEBUT FILTER   ****/



/****	FIN  FILTER   ****/

/***** DEBUT POSTS   ****/


/****	FIN  POSTS   ****/

/***** DEBUT OFFER   ****/



/****	FIN  OFFER   ****/

/***** DEBUT FOOTER   ****/




/****	FIN  FOOTER   ****/
