/*****     MAIN     STYLE       *****/

body {
	font-family: "Gotham Medium";
	background-color: #f3f1f2;
}

a:focus, a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT NAVIGATION   ****/

#navigation {
	background-color: #fff;
	font-family: "Gotham Light";
}

#menu li a {
    font-size: 14px;
	color: #96a6a7;
	font-weight: 600;
}

#menu li a:hover, #menu li a.active {
    background: #fff;
    color: #e94e38;
}

#navigationSearchForm .input-group {
		height: 75px;
}

#navigationSearchForm .input-group span.input-group-addon {
	border: 1px solid #eceeef;
	border-radius: 0px;
}
	
#navigationSearchForm button {
	border: 0px;
    background-color: transparent;
	cursor: pointer;
}

#login {
	background-color: #e94e38;
}

#login p {
	margin: 1.5em 2em;
    color: #fff;
}

/****	FIN  NAVIGATION   ****/

/***** DEBUT SEARCH   ****/

#search {
	background: url(images/search_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	color: #fff;
	height: 100%;
}

#searchName h3 {
	font-size: 30px;
	line-height: 3;
	padding-top: 30px;
}

#searchForm  .form-control {
	height: 60px;
	border-radius: 30px;
    border: 1px solid #5b5953;
    background: rgba(111, 111, 111, 0.17);
    color: #fff;
	font-family: 'Gotham Light', sans serif;
}

#researchKeywords .form-group {
	width: 46%;
    margin: 0 auto;
}

#searchButton button {
	height: 60px;
	border-radius: 30px;
	background-color: #e94e38;
	margin: 2.5rem auto;
    width: 13%;
    color: #fff;
    box-shadow: 0px 2px 0px #c1412e;
    font-family: 'Gotham Medium';
    font-size: 1.2rem;
}

/****	FIN  SEARCH   ****/

/***** DEBUT FILTER   ****/

#filter {
	background-color: #fff;
	box-shadow: 0px 2px 0px #edebec;
	text-transform: uppercase;
	font-size: 12px;
}

#filterMenu .navbar-light #divFilterMenu .navbar-nav .active > .nav-link, 
#filterMenu #divFilterMenu a:hover, #filterMenu #divFilterMenu a:focus {
	color: #e94e38;
}

#filterMenu .navbar-toggler-left {
    position: relative;
}

#filterSelector, #filterGrid {
	padding-top: 0.5rem;
}

#filterSelector select, #filterSelector button {
	border-radius: 1.25rem;
    height: 38px;
	font-family: 'Gotham', sans serif;
	font-size: 12px;
}

#filterSelector select {
    padding: 0.25rem 0.75rem;
    width: 80%;
    float: right;
	text-transform: uppercase;
}

#filterSelector button {
	color: #96a6a7;
    float: left;
    font-size: 12px;
}

#filterGrid li {
	padding: 0em 0.25em;
}

#filterGrid a:hover { 
	cursor:pointer;
}

.icoHome, .icoGirl, .icoSchool, .icoParty, .icoBus {
	background-color: #1baf5d;
    border-radius: 2.5rem;
    padding: 0.75em 0.5em;
    height: 42px;
}

.icoGirl, .icoSchool, .icoBus {
	background-color: #b6c0c1;
}

.icoParty, .postIcoParty {
	background-color: #f19e1f;
}

.icoBus, .postIcoBus {
	background-color: #88499c;
}

.icoHome img, .icoGirl img, .icoSchool img, .icoParty img , .icoBus img {
	max-width: 30px;
    width: 100%;
}

/****	FIN  FILTER   ****/

/***** DEBUT POSTS   ****/

#posts {
	padding-top: 1.5rem;
}

#posts .container {
	padding: 0rem 3.5rem;
}

.postsBlocks {
	background-color: #fff;
	border-radius: 0.2rem;
	box-shadow: 0px 2px 0px #e2dee0;
}

.postsImage {
	border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
	width: 100%;
}

.postsHomeImages {
	border-bottom: 3px solid #1baf5d;
}

.postsPartyImages {
	border-bottom: 3px solid #f19e1f;
}

.postsBusImages {
	border-bottom: 3px solid #88499c;
}

.sale {
	position: absolute;
    top: 6px;
    right: 6px;
    font-family: "Gotham";
}
.image:hover .overlay {
	opacity: 0.9;
}

.image {
	position: relative;
	text-align: center;
    width: 100%;
}

.overlay {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	padding: 3rem 2rem;
	border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.overlay button {
	border-radius: 1.2rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: "Gotham";
}

.overlay button:hover {
    background-color: transparent;
    color: #fff;
}

.postsIcons {
    border-radius: 2.5rem;
    padding: 0.5em 0.5em;
    height: 60px;
    margin: 0 auto;
    border: 3px solid #fff;
    position: relative;
    top: -30px;
}

.postIcoHome {
	background-color: #1baf5d;
}

.description {
	font-size: 15px;
    color: #566375;
    margin-top: -25px;
    padding: 0 30px;
}

.visionAgency {
	text-transform: uppercase;
	font-size: 14px;
    color: #1baf5d;
}

.longBeach {
	color: #f19e1f;
}

.busTrans {
	color: #88499c;
}

.stars {
	font-size: 14px;
    color: #96a6a7;
}

.homeSeller {
	position: absolute;
    bottom: -12px;
    right: 85px;
    color: #fff;
    font-size: 0.8rem;
	text-transform: uppercase;
}

.homeSellerCompany {
	font-size: 1.2rem;
}

.clientName, .testimony, .testimony a, #load, #load a {
	padding-left: 0.2rem;
	color: #566375;
}

.clientName {
	text-transform: uppercase;
	font-weight: bold;
}

.testimony {
	font-family: "Gotham Book";
	font-size: 15px;
}

.testimony a, #load a {
	font-family: "Gotham Medium";
	font-size: 14px;
	text-decoration: underline;
}

#load {
	padding-top: 2rem;
    padding-bottom: 1rem;
}

#load p {
	margin: 0 auto;
} 

#load a {
	font-size: 18px;
} 


/****	FIN  POSTS   ****/

/***** DEBUT OFFER   ****/

#offer {
	padding: 5rem 0;
}

#offerTitle h4 {
	color: #566375;
}

#offerDescription {
	font-family: "Gotham Book";
	color: #96a6a7;
}

#offerIcons {
	margin: 0 auto;
}

#offerIcons a {
	padding: 0.5em 0;
}

#offerIcons .nav .active > .nav-link img, 
#offerIcons a:hover img, #offerIcons a:focus img {
	border: 2px solid #1baf5d;
}

#offerIcons .offerIcon:before {
	content: "";
	width: 53px;
	height: 2px;
	background-color: #e2dee0;
    vertical-align: middle;
    display: inline-block;
	margin: 0em 0.25em;
}

#offerIcons img {
    border: 2px solid #9dacad;
    border-radius: 3.1rem;
    padding: 1.7em;
}

#reality h4 {
	color: #1baf5d;
}

#flashIcon i {
	background-color: #1baf5d;
    border-radius: 2rem;
    padding: 0.4em 0.65em;
    color: #fff;
}

#leafIcon i {
	background-color: #1baf5d;
    border-radius: 2rem;
    padding: 0.4em 0.4em;
    color: #fff;
}

.flashDescription p {
	font-family: "Gotham Book";
	color: #566375;
}

/****	FIN  OFFER   ****/

/***** DEBUT FOOTER   ****/

#footer {
	background: url(images/footer_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	color: #fff;
	height: 100%;
	padding: 2rem;
}

#suscribeTitle {
	margin-bottom: 2rem;
}

#footerLists {
	padding-top: 0.75rem;
}

#footerLists ul {
	padding: 0;
	text-align: center;
}

#footerList1 ul li:first-child, #footerList2 ul li:first-child, #follow ul li:first-child {
	padding-bottom: .4rem;
}

#footerList1 ul li a, #footerList2 ul li a, #copyright {
	font-family: "Gotham Book";
	color: #ADADAD;
}

#footerList1 ul li a.ipsumFollow, #footerList1 ul li a.ipsumFollow:hover,
#footerList2 ul li a.ipsumFollow, #footerList2 ul li a.ipsumFollow:hover,
#follow ul li a.ipsumFollow, #follow ul li a.ipsumFollow:hover {
	font-family: "Gotham Medium";
	font-size: 1.1em;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#follow ul li a, #copyright {
	color: #fff;
}

#suscribeInputGroup .input-group {
	width: 100%;
    margin: 0 auto 2.5rem;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

#suscribeInputGroup .form-control {
    border: 0;
    background: transparent;
    font-family: 'Gotham Light', sans serif;
	color: #fff;
	font-size: 0.7rem;
}

#suscribeInputGroup .btn.btn-default {
    background-color: transparent;
    color: white;
}

#suscribeInputGroup span #leftButton {
    border-right: transparent;
	padding-right: 4px;
    padding-left: 4px;
}

#suscribeInputGroup span #rightButton {
    border-radius: 30px;
    background-color: #e94e38;
    margin: .3rem;
    color: #fff;
    box-shadow: 0px 2px 0px #c1412e;
    font-family: 'Gotham Medium';
    border-left: transparent;
	font-size: .5rem;
}

/****	FIN  FOOTER   ****/

/****   DEBUT MEDIA QUERIES    ****/

@media screen and (max-width: 467px) {
	#searchName h3 {
		font-size: 20px;
		line-height: 1.2;
		padding-top: 5px;
	}
}

@media screen and (min-width: 468px) and (max-width: 767px) {
	#searchName h3 {
		font-size: 26px;
		line-height: 2;
		padding-top: 15px;
	}
}

@media screen and (max-width: 577px) {
	#researchKeywords .form-group {
		width: 100%;
		margin: 0;
	}
	
	#filterSelector select, #filterSelector button {
		float: none;
		margin-bottom: 1rem;
	}
	
	.homeSeller {
		display: none;
	}
	
	#offer {
		padding: 2rem 0;
	}

	#offerIcons .offerIcon:before {
		width: 0px;
		margin: 0em 0.05em;
	}
	
	#offerIcons img {
		border-radius: 2.1rem;
		padding: 0;
		width: 100%;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	.homeSeller {
		right: 30px;
	}
	
	.testimonialsAndRate {
		margin-top: -30px;
	}
	
	.starsXL img {
		float: left;
	}
	
	#offerIcons .offerIcon:before {
		width: 30px;
	}
	
	#offerIcons img {
		border-radius: 2.1rem;
		padding: 0.7em;
	}
}

@media screen and (min-width: 578px) and (max-width: 1199px) {
	.lucySteve {
		padding-right: 0;
	}
	
	.lucySteve img {
		float: right;
	}
}

@media screen and (min-width: 578px) {
	#searchForm #selector div[class^="col-md-6"]:first-child .form-group {
		width: 45%;
		float: right;
	}

	#searchForm #selector div[class^="col-md-6"]:nth-child(2) .form-group {
		width: 45%;
		float: left;
	}
	
	.flashDescription {
		padding: 0;
	}
	
	#footer {
		padding: 2rem;
	}
	
	#footerLists {
		padding-top: 1.2rem;
	}
	
	#footerLists ul {
		text-align: left;
	}
	
	#footerList1 ul li:first-child, #footerList2 ul li:first-child, #follow ul li:first-child {
		padding-bottom: 1rem;
	}
	
	#suscribeInputGroup .input-group {
		width: 55%;
	}
	
	#suscribeInputGroup span #leftButton {
		padding-left: 32px;
	}
}
	
@media screen and (min-width: 768px) and (max-width: 991px) {
	#login {
		max-height: 74px;
	}
	
	.icoHome, .icoGirl, .icoSchool, .icoParty, .icoBus {
		padding: 0em 0.5em;
		height: 22px;
	}
	
	#filterGrid li {
		padding: 0.75em 0.25em;
	}
	
	.overlay button {
		width: 100%;
		overflow: hidden;
	}	
	
	.partyDescription {
		margin-bottom: 2.4rem;
	}	
	
	.homeSeller {
		right: 4px;
		bottom: 8px;
	}
	
	.starsXL img {
		float: left;
	}
	
	#offerIcons .offerIcon:before {
		width: 36px;
	}
}

@media screen and (min-width: 768px) {
	#socialMedia {
		margin-bottom: 3.5rem;
	}
	
	#suscribeInputGroup .form-control {
		font-size: 1rem;
	}
	
	#suscribeInputGroup span #rightButton {
		font-size: 1rem;
	}
}

@media screen and (max-width: 991px) {
	#navigation #menu {
		width: 95%;
		background: #4b5b6a;
	}
	
	#menu li {
        padding: 0px 10px;
	}
	
	#menu li a {
        padding: 6px 6px;
	}
	
	#searchButton button {
		width: 130px;
	}
	
	#filterSelector select {
		width: 130px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.partyDescription {
		margin-bottom: 1rem;
	}
	
	.homeSeller {
		right: 10px;
	}
	
	#flashAndLeaf {
		padding: 0 3rem;
	}
}

@media screen and (min-width: 992px) {
	#navigation .navbar {
		margin-left: 7rem;
	}
	
	#navigationSearchForm {
		position: absolute;
		top: 0;
		right: 0px;
		width: 0%;
		min-width: 70px;
		height: 100%;
		overflow: hidden;
	}
	
	#navigationSearchForm .input-group input {
		display: none;
	}
	
	#navigationSearchForm .input-group span.input-group-addon {
		right: -20px;
		position: relative;
	}
	
	.testimonialsAndRate {
		margin-top: -30px;
	}
	
	.starsXL img {
		float: left;
	}
	
	.responsiveBlock33 {
		height: 123px;
	}
}

@media screen and (min-width: 1200px) {
	#navigation #menu {
		margin-left: 10rem;
	}
	
	.partyDescription {
		margin-bottom: 2.4rem;
	}
	
	.lucySteve img {
		float: right;
	}
	
	.responsiveBlock633 {
		height: 130px;
	}
	
	#flashAndLeaf {
		padding: 0 10rem;
	}
}

/****   FIN MEDIA QUERIES    ****/